<h1 style="text-align:center">Welcome to Garrett’s Homepage</h1>

<%= link_to 'About', about_path %>

<br/>
<%= image_tag('IMG_8194.JPG', :size => "520x360") %>


<br/>
<br/>

<p style="text-align:center;">You’ve just stumbled upon Garrett’s homepage - the only homepage of its kind on the entire world wide web. 
<br/>While it is nothing more than a heading, picture, and a paragraph, it is nonetheless completely unique and artistic in nature. 
<br/><b>Hope you enjoy!<b/></p>

</body>
</html>